{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure               {:mvn/version "1.11.1"}
  org.clojure/data.json             {:mvn/version "2.4.0"}
  com.github.seancorfield/honeysql  {:mvn/version "2.2.891"}
  com.github.seancorfield/next.jdbc {:mvn/version "1.2.780"}
  com.walmartlabs/lacinia           {:mvn/version "1.1"}
  io.aviso/logging                  {:mvn/version "1.0"}
  metosin/reitit                    {:mvn/version "0.5.18"}
  org.postgresql/postgresql         {:mvn/version "42.3.3"}
  ring/ring-jetty-adapter           {:mvn/version "1.9.5"}}}