{:objects
 {:BoardGame
  {:description "A physical or virtual board game."
   :fields
   {:id          {:type (non-null ID)}
    :name        {:type (non-null String)}
    :summary     {:type String
                  :description "A one-line summary of the game."}
    :min_players {:type Int
                  :description "The minimum number of players the game supports."}
    :max_players {:type Int
                  :description "The maximum number of players the game supports."}
    :avg_rating  {:type Float
                  :description "Average rating for the board game."
                  :resolve :game/rating}
    :ratings     {:type (list :Rating)
                  :description "List of ratings given by members."
                  :resolve :game/all-ratings}}}
  :Designer
  {:description "A person who may have contributed to a board game design."
   :fields
   {:id          {:type (non-null ID)}
    :name        {:type (non-null String)}
    :uri         {:type String
                  :description "Home page URL, if known."}}}
  :Member
  {:description "A registered user."
   :fields
   {:id          {:type (non-null ID)}
    :name        {:type (non-null String)}}}
  :Rating
  {:description "Score given to a board game by a member."
   :fields
   {:game        {:type (non-null :BoardGame)
                  :description "Board game rated."}
    :member      {:type (non-null :Member)
                  :description "Member who rated the game."}
    :rating      {:type (non-null Int)}}}}
 :queries
 {:all_games
  {:type (list :BoardGame)
   :description "All of the board games."
   :resolve :games/all}
  :all_designers
  {:type (list :Designer)
   :description "All of the designers."
   :resolve :designers/all}
  :all_members
  {:type (list :Member)
   :description "All of the members."
   :resolve :members/all}
  :game
  {:type :BoardGame
   :description "Retrieve a board game by its id."
   :args {:id {:type (non-null ID)}}
   :resolve :games/get}
  :designer
  {:type :Designer
   :description "Retrieve a designer by its id."
   :args {:id {:type (non-null ID)}}
   :resolve :designers/get}
  :member
  {:type :Member
   :description "Retrieve a member by its id."
   :args {:id {:type (non-null ID)}}
   :resolve :members/get}}
 :mutations
 {:rate_game
  {:type :BoardGame
   :description "Allows a member to rate a board game, or change a previous rating."
   :args {:member_id {:type (non-null ID)}
          :game_id {:type (non-null ID)}
          :rating {:type (non-null Int)}}
   :resolve :game/rate}}}