{:objects
 {:BoardGame
  {:description "A physical or virtual board game."
   :fields
   {:id          {:type (non-null ID)}
    :name        {:type (non-null String)}
    :summary     {:type String
                  :description "A one-line summary of the game."}
    :min_players {:type Int
                  :description "The minimum number of players the game supports."}
    :max_players {:type Int
                  :description "The maximum number of players the game supports."}}}}
 :queries
 {:all_games
  {:type (list :BoardGame)
   :description "All of the board games."
   :resolve :games/all}}}